$maxWidthContainer: 1230px;

// Colors
$primary: #382d2d;
$secondary: #ededed;

$black: #000000;
$white: #ffffff;
$orange: #db812d;
$blue: #6cbac4;
$green: #a7b656;
$grey: #e3e3e3;

$modalsBg: #FBFBFB;
$modalInputColor: #7C7C7C;

// Z-index
$zIndexMain: 99;
$zIndexSubmenu: 99;
$zIndexModal: 199;
$zIndexCrumbs: 8;

//Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
