@import './variables';
@import './mixins';
@import 'venders/reset';

body {
  font-family: Roboto, system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  color: $primary;

  background-color: $white;

  &.no-scroll {
    overflow: hidden;
  }
}

@import 'blocks/pluggable'