.price-project {
  padding: 1rem 1.25rem;
  height: 100%;

  text-align: center;

  background: url("../images/project/dataimg.jpg") 0 0 / cover no-repeat;

  @include breakpointMin($md) {
    padding: 1.875rem 1.25rem;

    text-align: left;
  }
}

.price-project__item {
  &:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }

  &_mb14 {
    &:not(:last-child) {
      margin: 0 0 0.875rem 0;
    }
  }
}

.price-project__row {
  margin: 0 0 0.6875rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include breakpointMin($md) {
    justify-content: flex-start;
  }
}

.price-project__column {
  flex: 0 1 auto;
}

.price-project__exemple {
  margin: 0 1.25rem 0 0;
  width: 3.875rem;
  height: 3.875rem;

  border-radius: 50%;

  background-color: $white;

  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
}

.price-project__names {
  display: flex;
  flex-direction: column;
}

.price-project__name {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
}

.price-project__submane {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: $primary;

  &_orange {
    color: $orange;
  }
}

.price-project__size {
  flex: 0 0 auto;
  margin: 0 1em 0 0;

  width: 5.6667em;
  height: 1.6666666em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  font-weight: 700;
  color: $white;

  background-color: $blue;

  @include breakpointMin($md) {
    margin: 0 auto 0 0;
  }
}

.price-project__discount {
  display: flex;
  align-items: center;

  font-size: 1.125rem;
  font-weight: 700;
  color: $orange;
}

.price-project__old-price {
  margin: 0 0 0 0.66666666em;

  font-size: 0.75rem;
  font-weight: 400;
  color: #a5a5a5;

  text-decoration: line-through;
}