<footer class="footer">
  <picture class="footer__bg image">
    <source srcset="assets/images/footer-bg.webp" type="image/webp">
    <img src="assets/images/footer-bg.jpg" alt="bg">
  </picture>

  <div class="container">
    <div class="footer__body">
      <div class="footer__logo logo logo_footer">
        <a class="logo__link" href="./index.html">
          <img class="logo__img" src="assets/images/logo/logo02.png" alt="Logo" />
        </a>
      </div>

      <ul class="footer__items footer-droplists">
        <li class="footer__item footer-droplists__item">
          <span class="footer__label footer-droplists__btn icon-arrow2">Услуги</span>

          <ul class="footer__links links-footer footer-droplists__list">
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Все услуги</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Строительство домов</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Проектирование домов</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Фундаменты</a>
            </li>
          </ul>
        </li>

        <li class="footer__item footer-droplists__item">
          <span class="footer__label footer-droplists__btn icon-arrow2">О компании</span>

          <ul class="footer__links links-footer footer-droplists__list">
            <li class="links-footer__item">
              <a class="links-footer__link" href="contacts.html">Контакты</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Объекты</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="comments.html">Отзывы</a>
            </li>
            <li class="links-footer__item">
              <a class="links-footer__link" href="#">Акции</a>
            </li>
          </ul>
        </li>

        <li class="footer__item footer-droplists__item">
          <span class="footer__label footer-droplists__btn icon-arrow2">Контакты</span>

          <div class="footer__contacts-tel footer-droplists__list">
            <div class="contacts-tel">
              <a class="contacts-tel__col contacts-tel__link icon-phone" href="tel:89101953605">8 (910) 195-36-05 <span class="contacts-tel__city">Кострома</span></a>
    
              <a class="contacts-tel__col contacts-tel__link icon-phone" href="tel:89101953605">8 (910) 195-36-05 <span class="contacts-tel__city">Москва</span></a>
    
              <a class="contacts-tel__col contacts-tel__mail icon-message" href="mailto:info@kostroma-srub.ru">info@kostroma-srub.ru</a>
  
              <a class="contacts-tel__col contacts-tel__instagram" href="#" target="_blank">
                <div class="contacts-tel__instagram-image image">
                  <img src="assets/images/footer/instagram.svg" alt="Instagram">
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>

      <div class="footer__contacts-btn contacts-btn">
        <ul class="contacts-btn__list">
          <li class="contacts-btn__item">
            <button class="contacts-btn__button icon-arrow" data-modal-call="bell" type="button">заказать звонок</button>
          </li>
          <li class="contacts-btn__item">
            <button class="contacts-btn__button contacts-btn__button_green icon-arrow" data-modal-call="question" type="button">Задать вопрос</button>
          </li>
          <li class="contacts-btn__item">
            <a class="contacts-btn__button contacts-btn__button_orange icon-arrow" href="./catalog.html">Рассчитать проект</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer__line"></div>

  <div class="footer__copyright">
    <div class="container">
      <span class="footer__copyright-text">Copyright © 2001-2019 Все права защищены</span>
    </div>
  </div>
</footer>
