<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<!-- Favicon -->

<!-- 
EXAMPLE!

<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/name-favicon">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/name-favicon">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/name-favicon">
<link rel="manifest" href="assets/favicon/name-favicon">
<link rel="mask-icon" href="assets/favicon/name-favicon" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffb85f">
<meta name="theme-color" content="#ff0000"> 
-->
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon//apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon//favicon-16x16.png">
<link rel="manifest" href="assets/favicon//site.webmanifest">
<link rel="mask-icon" href="assets/favicon//safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>{{ title }}</title>

<link rel="stylesheet" href="assets/plugins/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/icon-fonts/icon-fonts-style.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">
