<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__logo logo">
        <a class="logo__link" href="./index.html">
          <img class="logo__img" src="assets/images/logo/logo.png" alt="Logo" />

          <p class="logo__text"><span>Строительство домов</span> <br> из бруса и бревна</p>
        </a>
      </div>

      <div class="header__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link icon-instagram" href="#" target="_blank"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link icon-viber" href="#" target="_blank"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link icon-whatsapp" href="#" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="header__menu-burger" data-menu-burger>
        <button type="button">
          <span></span>
        </button>
      </div>

      <div class="header__contacts-show-btn">
        <span class="icon-arrow2">Контакты</span>
      </div>

      <div class="header__contacts">
        <div class="contacts-tel">
          <a class="contacts-tel__col contacts-tel__link" href="tel:89101953605">8 (910) 195-36-05 <span class="contacts-tel__city">Кострома</span></a>

          <a class="contacts-tel__col contacts-tel__link" href="tel:89101953605">8 (910) 195-36-05 <span class="contacts-tel__city">Москва</span></a>

          <a class="contacts-tel__col contacts-tel__mail" href="mailto:info@kostroma-srub.ru">info@kostroma-srub.ru</a>
        </div>

        <div class="contacts-btn">
          <ul class="contacts-btn__list">
            <li class="contacts-btn__item">
              <button class="contacts-btn__button icon-arrow" data-modal-call="bell" type="button">заказать звонок</button>
            </li>
            <li class="contacts-btn__item">
              <button class="contacts-btn__button contacts-btn__button_green icon-arrow" data-modal-call="question" type="button">Задать вопрос</button>
            </li>
            <li class="contacts-btn__item">
              <a class="contacts-btn__button contacts-btn__button_orange icon-arrow" href="./catalog.html">Рассчитать проект</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header__line"></div>

  <div class="container">
    <nav class="header__menu menu">
      <button class="menu__burger-btn" type="button" data-menu-burger>
      </button>

      <div class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <span class="menu__link icon-arrow2">проекты</span>

            <ul class="menu__submenu submenu">
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <span class="menu__link icon-arrow2">услуги</span>

            <ul class="menu__submenu submenu">
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРЕВНА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ БАНЬ ИЗ БРЕВНА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ БАНЬ ИЗ БРУСА</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Наши работы</a>
          </li>
          <li class="menu__item">
            <span class="menu__link icon-arrow2">Клиентам</span>

            <ul class="menu__submenu submenu">
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
              <li class="submenu__item">
                <a class="submenu__link icon-arrow2" href="#">ПРОЕКТЫ ДОМОВ ИЗ БРУСА</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#" >Отзывы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="contacts.html" >Контакты</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
