<div class="modals">
  <div class="modals__modal modal" data-modal-name="question">
    <div class="modal__body">
      <button class="modal__close-button" type="button">
        <span></span>
      </button>

      <h2 class="modal__title">Задать вопрос</h2>
      <span class="modal__prompt">Напишите нам и наши менеджеры свяжутся с Вами в ближайшее время</span>
      
      <form class="modal__form form-modal" name="question" action="#">
        <div class="form-modal__control">
          <input class="form-modal__input" name="user-name" type="text" placeholder="Ваше имя" value="Test message user-name">
          <span class="form-modal__focus-line"></span>
        </div>
        <div class="form-modal__control">
          <input class="form-modal__input" name="user-phone-number" type="text" placeholder="Ваше телефон" value="Test message user-phone-number">
          <span class="form-modal__focus-line"></span>
        </div>
        <div class="form-modal__control">
          <input class="form-modal__input" name="user-email" type="email" placeholder="Ваше E-mail" value="testemail@email.test">
          <span class="form-modal__focus-line"></span>
        </div>
        <div class="form-modal__control">
          <textarea class="form-modal__area" name="user-comment" placeholder="Комментарий">Test message user-comment</textarea>
          <span class="form-modal__focus-line"></span>
        </div>
        
        <div class="form-modal__row">
          <div class="form-modal__col">
            <div class="form-modal__control form-modal__control_mb0">
              <input class="form-modal__file" id="modal-file-01" name="file" type="file">
              <label class="form-modal__label icon-share" for="modal-file-01">Прикрепить файл</label>
            </div>
          </div>

          <div class="form-modal__col">
            <div class="form-modal__captcha">
              Captcha
            </div>
          </div>
        </div>

        <div class="form-modal__prompt">
          <a href="#">Согласен с политикой конфиденциальности</a>
        </div>

        <div class="form-modal__control">
          <button class="form-modal__button button icon-arrow" type="submit">Задать</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modals__modal modal" data-modal-name="bell">
    <div class="modal__body">
      <button class="modal__close-button" type="button">
        <span></span>
      </button>

      <h2 class="modal__title">Заказать зонок</h2>
      <span class="modal__prompt">Напишите нам и наши менеджеры свяжутся с Вами в ближайшее время</span>
      
      <form class="modal__form form-modal" action="#">
        <div class="form-modal__control">
          <input class="form-modal__input" name="user-name" type="text" placeholder="Ваше имя">
          <span class="form-modal__focus-line"></span>
        </div>
        <div class="form-modal__control">
          <input class="form-modal__input" name="user-phone-number" type="text" placeholder="Ваше телефон">
          <span class="form-modal__focus-line"></span>
        </div>

        <div class="form-modal__control">
          <button class="form-modal__button button icon-arrow" type="submit">Задать</button>
        </div>
      </form>
    </div>
  </div>
</div>